{% extends 'Dashbord/base.html' %}
{% load staticfiles %}
{% block head %}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="/static/Dashbord/scripts/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'Dashbord/content/panel_dash.css' %}" />




<script>



$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=usdeur.json&callback=?', function (data) {

    var lastDate = data[data.length - 1][0],  // Get year of last data point
        days = 24 * 36e5; // Milliseconds in a day

    // Create the chart
    Highcharts.stockChart('container', {

        rangeSelector: {
            selected: 1
        },

        title: {
            text: 'Доход по Дивизиону Москва'
        },

        yAxis: {
            title: {
                text: 'Exchange rate'
            }
        },

        series: [{
            name: 'USD to EUR',
            data: data,
            id: 'dataseries',
            tooltip: {
                valueDecimals: 4
            }
        }, {
            type: 'flags',
            name: 'Flags on series',
            data: [{
                x: lastDate - 60 * days,
                title: 'On series'
            }, {
                x: lastDate - 30 * days,
                title: 'On series'
            }],
            onSeries: 'dataseries',
            shape: 'squarepin'
        }, {
            type: 'flags',
            name: 'Flags on axis',
            data: [{
                x: lastDate - 45 * days,
                title: 'On axis'
            }, {
                x: lastDate - 15 * days,
                title: 'On axis'
            }],
            shape: 'squarepin'
        }]
    });
});

</script>


<script>

$(document).ready(
    $.ajax({
    type: "POST",
    dataType: "JSON",
    url: "http://127.0.0.1:8000/app/json/",
    success: function (data) {
        // Create the chart
        var msg = [[1442485171000,3323455107],
                    [1442485172000,7855107],
                    [1442485173000,1454555107],
                    [1442485174000,455107],
                    [1442485174000,6655107],
                    [1442485175000,3345]];

        Highcharts.stockChart('container2', {

            rangeSelector: {
                selected: 1
            },

            title: {
                text: 'Доход по Дивизиону Санкт-Петербург'
            },

            yAxis: {
                title: {
                    text: 'Доход'
                }
            },

            series: [{
                name: 'Дивизион 1',
                data: msg,
                id: 'dataseries',
                lineWidth: 5,
                color: "#c697ff"
            },
                {
                name: 'Дивизион 2',
                data: data,
                id: 'dataseries2',
                lineWidth: 5,
                    color: "#adff99"
            }
            ]
        })
    },
        error: function() {
    alert('Error loading PatientID=')
  }
}));

</script>

<script>

$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=usdeur.json&callback=?', function (data) {

    var lastDate = data[data.length - 1][0],  // Get year of last data point
        days = 24 * 36e5; // Milliseconds in a day

    // Create the chart
    Highcharts.stockChart('container3', {

        rangeSelector: {
            selected: 1
        },

        title: {
            text: 'Доход по Дивизиону Сочи'
        },

        yAxis: {
            title: {
                text: 'Exchange rate'
            }
        },

        series: [{
            name: 'USD to EUR',
            data: data,
            id: 'dataseries',
            tooltip: {
                valueDecimals: 4
            }
        }, {
            type: 'flags',
            name: 'Flags on series',
            data: [{
                x: lastDate - 60 * days,
                title: 'On series'
            }, {
                x: lastDate - 30 * days,
                title: 'On series'
            }],
            onSeries: 'dataseries',
            shape: 'squarepin'
        }, {
            type: 'flags',
            name: 'Flags on axis',
            data: [{
                x: lastDate - 45 * days,
                title: 'On axis'
            }, {
                x: lastDate - 15 * days,
                title: 'On axis'
            }],
            shape: 'squarepin'
        }]
    });
});

</script>

{% endblock  %}

{% block content %}

<div>
                    <ul class="base">
                    <li><a class="lw" id="container"></a></li>
                    <li><a class="lw" id="container2"></a></li>
                    <li><a class="lw" id="container3"></a></li>
                    </ul>
</div>

{% endblock %}
